{% extends "padre.html" %}

{% load static %}

{%  block title %} Alumnos  - {{block.super}} {% endblock %}
{% block contenido %}

    <main>

        <h1  style="margin: 2rem" class="text-center title"> Alumnos de Coder 🎓 </h1>

        {%  if request.user.is_authenticated %}
            <div class="container">
                <p>
                    <a href="ver_alumnos" class="btn btn-primary">Alumnos Registrados
                    </a>
                </p>
            </div>
        
        {% endif %}


        <div class="container" style="display: flex; flex-direction: column; align-items: center; margin-bottom: 20px;" >

            <div class="row" style="margin-bottom: 20px;">
                <div class="col-12 col-md-6">
                    <div class="card"style="height: 100%; width: 30rem;">
                        <div class="content"style="width: 100%; height: 100%; border-radius: 10%;  overflow: hidden; text-align: center; ">
                            <div style="height: 50%; margin: 20px 10px;">
                                <img src="{% static 'AppCoder/assets/img/testimonials-1.jpg' %}" style="border-radius: 50%; width: 150px; height: 150px;" alt="">
                            </div>
                            <h5 class="card-title">Ana Perez</h5>
                            <p class="card-text"> 
                                Me gusto mucho el curso! 😊
                            </p>

                            <a class="btn btn-danger" href=""> Enviar mensaje</a>
                            
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="card"style="height: 100%; width: 30rem;">
                        <div class="card-body"style="width: 100%; height: 100%; border-radius: 10%;  overflow: hidden; text-align: center; ">
                            <div style="height: 50%; margin: 20px 10px;">
                                <img src="{% static 'AppCoder/assets/img/testimonials-1.jpg' %}" style="border-radius: 50%; width: 150px; height: 150px;" alt="">
                            </div>
                            <h5 class="card-title">Javier Rivas</h5>
                            <p class="card-text"> 
                                Me gusto mucho el curso! 😊
                            </p>

                            <a class="btn btn-danger" href=""> Enviar mensaje</a>
                            
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-12 col-md-6">
                    <div class="card"style="height: 100%; width: 30rem;">
                        <div class="card-body"style="width: 100%; height: 100%; border-radius: 10%;  overflow: hidden; text-align: center; ">
                            <div style="height: 50%; margin: 20px 10px;">
                                <img src="{% static 'AppCoder/assets/img/testimonials-1.jpg' %}" style="border-radius: 50%; width: 150px; height: 150px;" alt="">
                            </div>
                            <h5 class="card-title">Maria Suarez</h5>
                            <p class="card-text"> 
                                Me gusto mucho el curso! 😊
                            </p>

                            <a class="btn btn-danger" href=""> Enviar mensaje</a>
                            
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="card"style="height: 100%; width: 30rem;">
                        <div class="card-body"style="width: 100%; height: 100%; border-radius: 10%;  overflow: hidden; text-align: center; ">
                            <div style="height: 50%; margin: 20px 10px;">
                                <img src="{% static 'AppCoder/assets/img/testimonials-1.jpg' %}" style="border-radius: 50%; width: 150px; height: 150px;" alt="">
                            </div>
                            <h5 class="card-title">Lucia Cabrera</h5>
                            <p class="card-text"> 
                                Me gusto mucho el curso! 😊
                            </p>

                            <a class="btn btn-danger" href=""> Enviar mensaje</a>
                            
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </main>

{% endblock %}