{% extends "padre.html" %}

{% load static %}

{% block contenido %}

    <form action="{% url 'editar_alumnos' alumno.id%}" method="post">
        {% csrf_token %}

        <p> Nombre : </p>
        {{mi_formulario.nombre}}
        <p> Apellido : </p>
        {{mi_formulario.apellido}}
        <p> DNI : </p>
        {{mi_formulario.dni}}
        <p> Email : </p>
        {{mi_formulario.email}}
        <p> Fecha Nacimiento : </p>
        {{mi_formulario.fecha_nacimiento}}

        <button class="btn btn-primary">Enviar</button>
    </form>

{% endblock %}