{% extends "padre.html" %}

{% load static %}


{% block contenido %}

    <main>
        <div style="display: flex; justify-content:center; align-items: center;">
            <h1  style="margin: 2rem" class="text-center title"> Profesores de Coder 🎓 </h1>
            <a href="ver_profesores" class="btn btn-outline-info"> Ver info</a>
        </div>
        

        <div class="container" style="display: flex; flex-direction: column; align-items: center; margin-bottom: 20px;" >

            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="card" style="height: 100%; width: 30rem;">
                        <div class=" content" style="width: 100%; height: 100%; border-radius: 10%;  overflow: hidden; text-align: center; ">
                            <span></span>
                            <div style="height: 50%; margin: 20px 10px;">
                                <img src="{% static 'AppCoder/assets/img/testimonials-1.jpg' %}" style="border-radius: 50%; width: 150px; height: 150px;" alt="">
                            </div>
                            <h5 class="card-title">Ana Perez</h5>
                            <p class="card-text"> 
                                Profesor
                            </p>
                            <p>Profesor de Coderhouse</p>
                            
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="card" style="height: 100%; width: 30rem;">
                        <div class=" content" style="width: 100%; height: 100%; border-radius: 10%; overflow: hidden; text-align: center; ">
                            <span></span>
                            <div style="height: 50%; margin: 20px 10px;">
                                <img src="{% static 'AppCoder/assets/img/testimonials-1.jpg' %}" style="border-radius: 50%; width: 150px; height: 150px;" alt="">
                            </div>
                            <h5 class="card-title">Ana Perez</h5>
                            <p class="card-text"> 
                                Profesor
                            </p>
                            <p>Profesor de Coderhouse</p>
                            
                        </div>
                    </div>
                </div>

            </div>

            <div class="row" style="margin-top: 20px;">

                <div class="col-12 col-md-6">
                    <div class="card" style="height: 100%; width: 30rem;">
                        <div class=" content" style="width: 100%; height: 100%; border-radius: 10%; overflow: hidden; text-align: center; ">
                            <span></span>
                            <div style="height: 50%; margin: 20px 10px;">
                                <img src="{% static 'AppCoder/assets/img/testimonials-1.jpg' %}" style="border-radius: 50%; width: 150px; height: 150px;" alt="">
                            </div>
                            <h5 class="card-title">Ana Perez</h5>
                            <p class="card-text"> 
                                Profesor
                            </p>
                            <p>Profesor de Coderhouse</p>
                            
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="card" style="height: 100%; width: 30rem;">
                        <div class=" content" style="width: 100%; height: 100%; border-radius: 10%; overflow: hidden; text-align: center; ">
                            <span></span>
                            <div style="height: 50%; margin: 20px 10px;">
                                <img src="{% static 'AppCoder/assets/img/testimonials-1.jpg' %}" style="border-radius: 50%; width: 150px; height: 150px;" alt="">
                            </div>
                            <h5 class="card-title">Ana Perez</h5>
                            <p class="card-text"> 
                                Profesor
                            </p>
                            <p>Profesor de Coderhouse</p>
                            
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </main>

{% endblock %}