{% extends 'padre.html' %}

{% load static %}


{% block contenido %}
    <main class="container">
        <h1 class="text-center title" style="margin: 2rem">Profesores de Coder : </h1>

        <table class="table text-center"  id="tabla_profesores">
            <thead>
                <!--Encabezado de tabla-->
                <tr>
                    <th style="display: none;">ID</th>
                    <th>Apellido</th>
                    <th>Nombre</th>
                    <th>Curso</th>
                </tr>
            </thead>
    
            <tbody>
                <!--Contenido de tabla-->
                {% for n in profesores %}
                    <tr>
                        <td style=" display: none;">{{n.id}}</td>
                        <td>{{n.apellido}}</td>
                        <td>{{n.nombre}}</td>
                        <td>{{n.curso}}</td>
                        
                {% endfor %}
            </tbody>
    
        </table>
    </main>
    

{% endblock %}